* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 list-style: none;
}
body{
 background-image: url(./img/image4.jpg);
 background-position: 100% 100%;
 background-size: 100% 100%;
 font-family: "Roboto Condensed", sans-serif;
 
}
/*all in the white block*/
.main-content{
 background-color: #fff;
 margin: 5%;
 height: 100%;
 color: black;
 box-shadow:0 3px 15px black;
 
}
/*--------------------------------------------*/
.header .name{
 font-size: 5rem;
 color: #fff;
 text-shadow:6px 4px 4px rgb(11, 8, 90);
 margin-top:100px;
 margin: 100px;
 text-align: center;
}
/*--------------------------------------------*/
.br-nav{
 background-color: rgb(60, 141, 179);
 border-bottom:5px solid rgb(11, 8, 90);
 padding: 2%;

}
.nav {
 text-transform: uppercase;
 text-decoration: none;
 width: 100%;
}
.nav li{
 display: inline;
 margin-right: 40px;
 font-weight: bold;
 }
 .nav li :hover{
  background-color: #fff;
  border-radius: 3px;
  padding: 5px;
 }
 .nav ul {
  text-align: center;
 }
 .nav a{
  text-decoration: none;
  color: black;
 }
 /*--------------------------------------------*/
 .content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 }
 
/*----------------------Form----------------------*/
 form {
  text-align: center;
  border: 3px solid rgb(11, 8, 90);
  background-color: rgb(60, 141, 179);
  text-shadow: 0px 4px 6px black;
  box-shadow: 1px 2px 15px rgb(11, 8, 90);
  width: 90%;
  margin: 5%;
  padding: 5%;
  color: black;
  border-radius: 5px;
 }

 form ,label{
  text-align: left;
 }
 input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(11, 8, 90);
  box-sizing: border-box;
  
 }
 button {
  background-color: rgb(11, 8, 90);
  color: white;
  padding: 10px;
  margin: 0px;
  border: none;
  cursor: pointer;
  width: 30%;
  display: inline;
}
button:hover{
 opacity: 0.8;
}
/*----------------------paragraph----------------------*/
.left-content{
 margin: 5%;
 padding: 5%;
}
/*--------------------------------------------*/
.left-img {
  
 padding: 5%;
}
#left-photo{
  height: 100%;
}
img {
 border-radius: 5px;
}
/*--------------------------------------------*/

.center-img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 95%;
}

/*-----------------------policy---------------------*/
.right-content{
 border: 3px solid rgb(11, 8, 90);
 padding: 5%;
 border-radius: 5px;
 width: 90%;
 margin: 5%;
 box-shadow: 1px 2px 15px rgb(11, 8, 90);
 background-color: rgb(143, 201, 228);
}

/*--------------------------------------------*/
.br-footer{
 background-color: rgb(60, 141, 179);
 padding: 2%;
 border-top: 5px solid rgb(11, 8, 90);
}
.footer {
 font-weight: bold;
 text-align: center;
}
/*--------------------------------------------*/
/*Responsiv design för mobile phones */
@media screen and (max-width: 600px){
  .content{
    display: grid;
    grid-template-columns: 1fr;
   }
   .header .name{
    font-size: 3rem;
    color: #fff;
    text-shadow:2px 2px 2px gray;
    margin-top:100px;
    margin: 100px;
    text-align: center;
   }
}



